<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>하공대 커뮤니티</title>
</head>
<body>
        <h1>하공대 커뮤니티 사이트</h1>
        <a href="/login">로그인</a>
</body>

<script>
        const xhr = new XMLHttpRequest();
        xhr.open('GET', window.location.href, true);
        console.log(window.location.href)
        let header;
        var storage = localStorage.getItem("Authorization");
        console.log(storage);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                header = xhr.getResponseHeader("Authorization");
                console.log(xhr.getAllResponseHeaders())

            }
        }
        xhr.setRequestHeader('Authorization', header);
        xhr.send();


</script>
</html>